@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap');



* {
    box-sizing: border-box;
}


body {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0;
    font-family: 'Open Sans', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.content {
    width: 50%;
    background-color: #abcfc3;
    padding: 2rem 0;
    min-height: 100vh;
}

.title {
    padding-bottom: 1.5rem;
}

.card-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-arrow {
    width: 3rem;
    cursor: pointer;
    height: 32rem;
    display: grid;
    place-items: center;
    border-radius: 10px;
    background-color: rgba(0,0,0,0.55);
}

#arrow-left-side {
    margin-right: -2rem;
    z-index: 1;

}

.card-item {
    background-color: #f1f1f1;
    width: 27rem;
    padding: 1.5rem;
    border-radius: 10px;
}
.card-image {
    width: 10rem;
    border-radius: 100%;
}

.card-title {
    margin-bottom: 0.4rem;
}

.card-text {
    font-weight: 300;
}