@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap');



* {
    box-sizing: border-box;
}


body {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0;
    font-family: 'Open Sans', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.content {

    min-width: 42rem;
    background-color: #abcfc3;
    padding: 2rem 0;
    min-height: 100vh;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

.title {
    padding-bottom: 1rem;
    justify-self: start;
}

.card-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 30rem;
    width: 100%;
    position: relative;
}

.card-item {
    background-color: #f1f1f1;
    width: 27rem;
    padding: 1.5rem;
    border-radius: 10px;
    margin: 0 7.5rem;
    position: absolute;
    display: none;
}

.active-card {
    display: unset;
}

.card-image {
    width: 9rem;
    border-radius: 100%;
}

.card-title {
    margin-bottom: 0.4rem;
}

.card-text {
    font-weight: 300;
}

.card-text:before {
    content: open-quote;
}

.card-text:after {
    content: close-quote;
}

.nav-arrow {
    width: 4rem;
    padding: 1rem 5rem ;
    cursor: pointer;
    display: flex;
    align-items: center;
    align-self: stretch;
    z-index: 1;
}

.nav-arrow:hover i {
    color: #f1f1f1;
}

#arrow-next {
    justify-content: flex-start;
}

#arrow-prev {
    justify-content: flex-end;
}

.pagination {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 20%;
    padding: 2rem 0;
}

.dot {
    width: 8px;
    height: 8px;
    border-radius: 100%;
    background-color: rgba(0,0,0,0.25);
}

.active-dot {
    transform: scale(1.3); 
    background-color: rgba(255,255,255,0.7);
}